PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=manager
DB_NAME=taskpilot
JWT_SECRET=super_secret_jwt_key_taskpilot_2026_change_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
